:root {
    --feedbg: rgb(24, 24, 71);
    --bgfeed2: rgb(17, 17, 58);
    --skycolor: rgba(23, 162, 167, 0.719);
    --shadow: 2px 2px 12px rgba(0, 0, 0, 0.15);
    --skincolor: #c1b086;
    --lightcolor: #494949;
  
  }
  /* page Background for feedback */
  
  .modal-background2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
  }
 
  /* Feedback Part Start here */
  
  .modal-content2 {
    width:480px;
    padding: 60px 50px;
    position: relative; 
  background: #fff;
  max-width: 90%;
  max-height: 80%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /*  input fields design */
  
  .modal-content2 h2 {
    margin: 12px 0 16px 0;
    font-size: 2.1rem;
    color: var(--bgfeed2);
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }
  
  .modal-content2 .close-button {
    position: absolute;
    top: 18px;
    right: 16px;
    cursor: pointer;
    font-size: 3rem !important;
    color: var(--feedbg);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #b1b0b03d;
    border-radius: 50px;
    transition: .5s ease;
  }
  
  .modal-content2 .close-button:hover {
    color: var(--skycolor);
  }
  
  .show {
    display: flex;
  }
  
  .Input-fields2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
  }
  
  
  .modal-content2 form .field2 input, .modal-content2 form .field2 textarea{
    padding: 10px 0;
    width: 100%;
    border: 1px solid #c9c9c9;
    color: #000 ;
    font-size: 1.5rem;
    background-color: #f7f6f6;
    margin-bottom: 10px;
    transition: .5s ease;
    padding-left: 8px;
  }
  .modal-content2 form .field2 input::placeholder, .modal-content2 form .field2 textarea::placeholder{
    color: #5c5c5c73 !important;
}
  .img-field input{
    padding: 0;
    width: 100%;
    border: none;
    color: #5c5c5c73 !important;
    font-size: 1.5rem;
    background-color: transparent;
    margin-bottom: 10px;
    transition: .5s ease;
    padding-left: 0;
    cursor: pointer;
    margin-top: 8px;
  }

  .img-field label{
    color: var(--bgfeed2);
    font-size: 1.4rem;
    margin-bottom: 8px;
    margin-top: -6px;
  }
  .modal-content2 form .field2 input:hover, .modal-content2 form textarea:hover {
    padding-left: 16px;
  }
  

  .modal-content2 form button {
    padding: 10px;
    background: var(--skycolor);
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 18px;
    margin-bottom: 12px;
    border-radius: 25px;
    font-size: 18px;
    color: #fff;
    transition: .5s ease;
  
  }
  
  .modal-content2 form button:hover {
    border-radius: 0;
    background: rgba(10, 130, 134, 0.877);
  }
  
  
  .modal-content2 p {
    margin-top: 14px;
    padding-bottom: 6px;
    font-size: 1.4rem;
    color: var(--light1);
    transition: .5s ease;
  }
  
  .modal-content2 p span {
    margin-left: 6px;
    color: rgba(10, 130, 134, 0.677);
    cursor: pointer;
    text-decoration: none;
    font-size: 1.6rem;
  }
  
