.order-data {
    background: #fff;
    width: 60%;
    max-width: 95%;
    padding: 3rem 2.5rem;
}

.order-data .theme-color {
    font-size: 2.4rem;
    text-transform: capitalize;
    padding-left: 1rem;
    text-wrap: wrap;
}

.order-data .status-info {
    font-size: 1.4rem;
}

.order-data .order-head {
    width: 100%;
    margin-top: 1.4rem;
    padding: 1.4rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #313c41;
    background-color: rgba(234, 247, 247, 0.712);

}

.order-data .new1 {
    margin-top: 0;
}

.order-data span.title {
    font-size: 1.2rem;
    font-family: 600;
    text-transform: capitalize;
}

.order-data span {
    font-size: 1.2rem;
    font-family: 400;
    margin: 0 1.2rem;
    padding-top: .3rem;
    text-wrap: wrap;

}
.order-data .status-btn{
    padding: .8rem 2.2rem !important;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 6px;
    text-transform: capitalize;
}

@media screen and (max-width:480px) {
    
    .order-data {
        background: #fff;
        width: 95%;
        padding: 2.5rem 1rem;
    }

    .order-data .theme-color {
        font-size: 1.8rem;
        padding-left: 0;  
    }
    .order-data .status-info {
        font-size: 1.2rem;
    }
    .order-data span,.order-data span.title {
        font-size: 1rem;  
    }
    .order-data .order-head {
    
        font-size: 1.4rem;
    
    
    }


    
}